body {
  background-color: tomato;
}

.navbar {
  background-color: #3333;
}

.navbar ul {    /* penulisan css untuk ul di class navbar */
  background-color: green;
width: 500px;
  height:100px;
}

.navbar li {   /* penulisan css untuk li di class navbar */
 border: 1px solid black; 
  list-style-type: none;
}
